body{
    background-color: rgba(128, 126, 126,.2);
}
.container{
    background-color: #95d5b2;
	margin-left: 100px;
	margin-right: 100px;
}
h1{
	margin-left: 550px;
}
h2{
	margin-left: 490px;
	
}
nav{
	margin-left: 450px;
	font-size: 180%;
}
li{
    list-style-position: inside;
	font-size: 150%;
}

