.contact .container--flex {
    align-items: flex-start;
}
.contact-information {
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #DE423A;
}

.contact-information .column__title {
    font-weight: 100;
}

.formulario {
    padding: 10px;
    padding-top: 0;
}

.formulario__label, .formulario__input-txt, .formulario__textarea {
    display: block;
    width: 100%;
}

.formulario__input-txt {
    padding: 10px;
    margin-bottom: 10px;
}

.formulario__textarea {
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.formulario_btn {
    border: none;
    cursor: pointer;
    font-size: 1em;
}

@media(min-width:480px) {
    .contact-information p {
        font-size: .75em;
    }  
    .contact-information {
        border-right: 1px solid #DE423A;
        border-bottom: none;
    }
}

@media(min-width:768px) {
    .contact-information p {
        font-size: 1em;
    }  
    .contact-information .column__title {
        font-size: 1.5em;
    }
}